@{
    ViewData["Title"] = "Home Page";
}


<!-- Background image -->
<div class="p-5 text-center bg-image" style="
      background-color: black;
      height: 800px;
    ">
    @if (@ViewBag.LedState == "On")
    {
        <img class="light-off-on-img" src="~/img/light-on-147810_1280.png" alt="">
    }
    @if (@ViewBag.LedState == "Off")
    {
        <img class="light-off-on-img" src="~/img/light-off-147810_1280.png" alt="">
    }


    <img src="" alt="">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Raspberry Pi LED On/Off</h1>
                <h4 class="mb-3">Led device supported <strong>@ViewBag.LedSupported</strong></h4>
                <h4 class="mb-3">Led is <strong>@ViewBag.LedState</strong></h4>

                <a class="btn btn-outline-light btn-lg" asp-action="LedOn">Turn on</a> | <a
                    class="btn btn-outline-light btn-lg" asp-action="LedOff">Turn off</a>

            </div>
        </div>
    </div>
</div>
<!-- Background image -->